{% extends  'partials/base.html' %}
{% block title %} Засварлах пэйж {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h4>Бүтээгдэхүүн засварлах</h4>
                <hr>
                <form method="POST">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <a class="btn btn-secondary" href="{% url 'dashboard-product' %}"">Цуцлах</a>
                    <input type="submit" value="Засварлах" class="btn btn-info ">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}