{% extends  'partials/base.html' %}
{% block title %} Ажилтнуудын пэйж {% endblock %}
{% block content %}
{% include 'partials/topnav.html' %}
 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Профайл хуудас
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Профайл мэдээлэл</span> 
                            <hr>
                            <table class="table bg-white table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">Нэр</th>
                                        <td>{{ workers.username }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Имэйл</th>
                                        <td>{{ workers.email}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Утас</th>
                                        <td>{{ workers.profile.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Хаяг</th>
                                        <td>{{workers.profile.address}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{workers.profile.image.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<!--End Table-->
{% endblock %}

